.mdl-layout__centered {
	max-width: 900px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(earth.png) no-repeat;
    background-size: cover; 
}

.mdl-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}